<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox"/>
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <li> <mat-icon>mobile_friendly</mat-icon> Introducing our new app that uses AI to identify any car from a picture and provide detailed information on its make, model, and year in seconds with the power of GPT-4. </li>
      <li> Technology used: </li>
      <li> <mat-icon>check</mat-icon> Angular </li>
      <li> <mat-icon>check</mat-icon> OpenAi GPT-3.5 </li>
      <li> <mat-icon>check</mat-icon> Python </li>
      <li> <mat-icon>check</mat-icon> BingImageAi </li>
    </ul>
  </div>
</nav>


